.header__info_menu-auth {
	gap: 20px;
	color: #000000;
	font-size: 14px;
}
.link-grey {
	display: flex;
	min-width: 100px;
	min-height: 32px;
	color: #000;
	font-weight: 500;
	line-height: 16px;
	background-color: #f9f9f9;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

.header__link_auth {
	font-weight: 400;
	color: #000;
	line-height: 18px;
}

.header__link_auth:focus {
	font-weight: 500;
}

.header-auth__menu {
	display: none;
}

.header-auth__menu:hover {
	cursor: pointer;
	opacity: 0.7;
}


@media screen and (max-width: 800px) {
	.header__info_menu-auth {
		display: none;
	}

	.header-auth__menu {
		display: block;
	}
	
	
}
